element.style {
    background: blue;
}

body{
    margin: 0;
    padding: 0;
}

body  {
    font: 20px Arial, sans-serif;
    font-family: jokerman;
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
    color: #333;
    font-weight: 400;
    background-color: #00cccc;
}

h3 {
    border-top: 5px dotted black;
    width: 50%;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 5px;
    width: 50%;
}

img{

}